# meson build directory
build/

# exclude test data folders
test/*/

# external projects, if any
subprojects/*/

# hidden files
.*
!.clang-format
!.clang-tidy
!.gitignore
!.gitmodules

# KDevelop projects
*.kdev4

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
